.build
.swiftpm
dist
.DS_Store
DerivedData
.idea
.vscode
*.swp
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.cer
*.p12
*.pfx
*.p8
*.pem
*.key
*.mobileprovision
*.provisionprofile
*.jks
*.keystore
*sparkle*private*key*
.env
.env.*
!.env.example
